---
layout: erblayout
title: I'm an ERB Page
page_var: 123
---

One two three: <%= page[:page_var] * 10 %>

<%= liquid_render "test_component", param: "Liquid FTW!" %>

Oats, <%= array_to_sentence_string ["peas", "beans", "barley"] %> grow.

  <%= markdownify do %>
      ## I'm a header!

      * Yay!
      <%= "* Nifty!" %>
  <% end %>

<% test_capturing = capture do %>
  This is how <%= "#{"cap"}turing" %> works!
<% end %>

<%= test_capturing.reverse %>

<p class="<%= class_map blank: !''.empty?, truthy: true, 'more-truthy' => 'yes' == 'yes', falsy: nil, 'more-falsy' => 'no' == 'yes' %>">classes!</p>
