<footer class="footer">
  <section class="container">
    <layout-columns class="columns">
      <layout-column class="column is-5">
        <img-container class="bridgetown-logo">{% svg "/images/Bridgetown-Logo.svg" %}</img-container>

        <h4>
          <strong>Bridgetown</strong> is a Ruby-powered static site generator.
        </h4>

        <p>
          Version: <strong>v{{ bridgetown.version }}</strong> (codename “<strong>{{ bridgetown.code_name }}</strong>”)<br/>
          Follow Us: <strong><a href="https://twitter.com/{{ metadata.twitter }}" rel="noopener">@{{ metadata.twitter }}</strong></a><br/>
          Read About Our <strong><a href="/about/">History &amp; Roadmap</a></strong>
        </p>

        <p class="mt-6 is-size-7">
          Source code licensed <a href="https://opensource.org/licenses/mit-license.php" target="_blank" rel="noopener">MIT</a>
          <br>
          Website content licensed <a rel="license noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
          <br>
          Hosted by <a href="https://render.com" target="_blank" rel="noopener">Render</a>
        </p>

      </layout-column>
      <layout-column class="column is-4">
        <h4 style="margin-top: 1.8rem">
          <strong>Contribute</strong> on GitHub
        </h4>

        <p class="mt-6">
          <a href="https://github.com/sponsors/jaredcwhite">Become a Sponsor</a><br/>
          <a href="https://github.com/{{ metadata.github }}/issues">Browse Issues</a><br/>
          <a href="https://github.com/{{ metadata.github }}/pulls">Submit a Pull Request</a><br/>
          <a href="https://github.com/{{ metadata.github }}/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
        </p>

        <p class="mt-6">
          <a href="https://github.com/bridgetownrb/bridgetown/discussions">Discussions on GitHub</a><br/>
          <a href="https://discord.gg/4E6hktQGz4">Discord Chat</a>
        </p>
      </layout-column>
      <layout-column class="column is-3">
        <h4 style="margin-top: 1.8rem">
          <strong>Share</strong> on Social Media
        </h4>

        <p class="mt-6">
          <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fbridgetownrb.com&via=bridgetownrb&text=Check%20out%20this%20awesome%20new%20static%20site%20generator%20built%20in%20Ruby%21&hashtags=SpinUpBridgetown%2CJamstack" class="button is-info">
            <ui-icon class="icon"> <i class="fa fa-twitter is-size-5"></i> </ui-icon>
            <ui-label class="has-text-weight-bold">Tweet</ui-label>
          </a>
        </p>

        <p class="mt-6 is-size-7">
          Use hashtag <strong>#SpinUpBridgetown</strong> <br/>and spread the word! 😃
        </p>

        <p class="mt-6">
          <a href="/feed.xml" class="button is-warning is-small">
            <ui-icon class="icon"> <i class="fa fa-rss"></i> </ui-icon>
            <ui-label class="has-text-weight-bold">News Feed</ui-label>
          </a>
        </p>
      </layout-column>
    </layout-columns>

    <p class="mt-10 has-text-centered">
      <strong style="opacity:.7">we</strong>
      <img src="/images/ruby.svg" alt="Ruby" style="height: 1.5rem;vertical-align:middle;margin: 0 0.5rem" loading="lazy" />
      <strong style="opacity:.7">ruby</strong>
    </p>
  </section>
</footer>
