<nav class="main-nav navbar <%= beta_class %>" id="topnav">
  <nav-inner class="container">
    <nav-section class="navbar-brand">
      <a class="navbar-item" href="/">
        <img-container class="bridgetown-logo"><%= liquid_render "shared/logo" %></img-container>
        <% if beta_class %><ui-label class="tag is-warning">Beta</ui-label><% end %>
        <h1 class="title is-5">Bridgetown</h1>
      </a>

      <!-- linthtml-configure tag-bans="false" -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="this.classList.toggle('is-active');document.querySelector('#topNavbar').classList.toggle('is-active')">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <!-- linthtml-configure tag-bans="true" -->
    </nav-section>

    <nav-menu id="topNavbar" class="navbar-menu">
      <nav-section class="navbar-start">
        <a class="navbar-item <%= docs_active %>" href="/docs/">Documentation</a>
        <a class="navbar-item <%= plugins_active %>" href="/plugins/">Plugins</a>
        <a class="navbar-item <%= news_active %>" href="/blog/">News</a>
      </nav-section>

      <nav-section class="navbar-end">
        <nav-search class="navbar-item search-item">
          <%= liquid_render "bridgetown_quick_search/search", placeholder: "Search", input_class: "input" %>
        </nav-search>
        <a class="navbar-item" href="https://github.com/<%= @metadata.github %>" target="_blank" rel="noopener">
          <button class="button is-info is-small">
            <ui-icon class="icon"> <i class="fa fa-github is-size-6"></i> </ui-icon>
            <ui-label class="has-text-weight-bold">Star</ui-label>
          </button>
        </a>

        <a class="navbar-item is-hidden-desktop-only" href="https://github.com/bridgetownrb/bridgetown/issues/new?assignees=&labels=bug&template=bug_report.md&title=" target="_blank" rel="noopener">
          <ui-icon class="icon"><i class="fa fa-exclamation-circle is-size-6"></i></ui-icon>
          <ui-label class="is-hidden-tablet">Report Issue</ui-label>
        </a>
        <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/<%= @metadata.twitter %>" target="_blank" rel="noopener">
          <ui-icon class="icon"><i class="fa fa-twitter is-size-6"></i></ui-icon>
          <ui-label class="is-hidden-tablet">Twitter</ui-label>
        </a>
      </nav-section>
    </nav-menu>
  </nav-inner>
</nav>
