<article class="box px-8 py-8 mb-10 h-entry">
  <a href="{{ post.url }}" class="u-url">
    <h2 class="mb-8 title is-3 has-text-info p-name">{{ post.title }}</h2>
  </a>

  <article-content class="content p-summary">
    {{ post.subtitle }}
  </article-content>

  <article-author class="mt-8 author p-author">
    {% assign author = authors[post.author] %}
    <img src="{{ author.avatar }}" alt="{{ author.name }}" class="avatar u-photo" loading="lazy" />
    <a href="/authors/{{ post.author }}/" class="has-text-weight-bold u-url p-name">{{ author.name }}</a>
    on {{ post.date | date: "%B %-d, %Y" }}
  </article-author>
</article>
