---
layout: default
---

<section class="container mt-12">
  <div class="columns">
    <div class="column is-three-quarters" id="swup-with-sidebar">
      <div class="box px-8 py-8">
        {% assign url_sections = page.url | split: "/" %}
        {% if url_sections.size > 3 %}
          {% assign button_label = page.category | capitalize | replace: "-", " " | prepend: "Back to " %}
          {% assign button_url = "/docs/" | append: page.category %}
          {% render "shared/back_to_button", label: button_label, url: button_url %}
          <h1 class="mt-0 mb-10 title is-2 is-size-3-mobile has-text-left has-text-brown">{{ page.title }}</h1>
        {% else %}
          <h1 class="mt-3 mb-10 title is-1 is-size-2-mobile has-text-centered has-text-brown">{{ page.title }}</h1>
        {% endif %}
        

        <div class="content">
          {{ content }}
        </div>

        {% if url_sections.size > 3 %}
          <p class="has-text-right mt-8 mb-1"><a href="/docs/{{ page.category }}" class="button is-info is-small">
            <span class="icon" aria-hidden="true">
              <i class="fa fa-chevron-up"></i>
            </span>
            <span>Back to {{ page.category | capitalize }}</span>
          </a></p>
        {% else %}
          {% assign next_order = page.next_page_order %}
          {% unless next_order %}
            {% assign next_order = page.order | plus: 1 %}
          {% endunless %}
          {% find next_page in site.docs, order == next_order %}
          {% if next_page %}
            <p class="has-text-right mt-8 mb-1"><a href="{{ next_page.url }}" class="button is-info is-small">
              <span>Next: {{ next_page.title }}</span>
              <span class="icon" aria-hidden="true">
                <i class="fa fa-chevron-right"></i>
              </span>
            </a></p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <aside class="column pl-8" id="sidebar">
      {% render "docs/toc", docs: site.docs, page: page %}
    </aside>
  </div>
</section>

<button id="mobile-nav-activator" class="button is-primary is-rounded py-3 px-3" aria-label="Skip to Documentation Menu">
  <span class="icon mx-0"><i class="fa fa-list"></i></span>
  <span class="icon mx-0 not-shown"><i class="fa fa-hand-o-up"></i></span>
</button>
